# docker-compose.yml
version: '3.8'
services:
  db:
    image: postgres:15 # Use a specific version of Postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5433:5432' # Expose Postgres port to your local machine
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: